@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* { box-sizing: border-box; font-family: "Nanum Gothic", sans-serif; outline: none; color: #000; }
html { font-size: 13px; }
body { margin: 0; }

a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
li, dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; } 
h1, h2, h3 { margin: 0; padding: 0; }

.layout-width { max-width: 1380px; min-width: 1280px; margin: 0 auto; padding: 0 10px; }